---
layout: default
---


{% comment %}
<a href="https://www.eventbrite.com/e/robots-on-ice-40-2024-tickets-815030266467" class="menu-link">🎟️Get your ticket for Robots on Ice 2024 before we sell out like last year!
</a>
{% endcomment %}

<p>To find out more as soon as possible please let us know you're interested <a href="https://docs.google.com/forms/d/e/1FAIpQLSePW6vN7ZaoWR7YlVQOe6P7hq8i8xogSktDQfC1EsO5KCmuZg/viewform?usp=header">here.</a></p>
<!-- <p>If you're interested in helping organize or participate in the next one please reach out to: robotsoniceteam@gmail.com</p> -->
{% comment %}
<p>Or specifically <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8xwafRI_oW5Un6e7yo57qaqAelBM_oPZHrqM20Odf6w-3nQ/viewform?usp=sf_link">Sumo on Ice reply here</a></p>
{% endcomment %}


<h2 style="text-align: center;">{{page.title}}</h2>

{{ content }}

<h1>All the versions of Robots On Ice</h1>
There have been many versions of Robots On Ice. To find out more about any of them please view the archives linked below. 
{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}



{% comment %}
TODO(tfoote) REMOVED Pending other pages created

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>


{% endcomment %}

<p>SVISA is a nonprofit organization dedicated to fostering ice skating in the Silicon Valley community.</p>
